<!DOCTYPE html>

<html>

    <head>
        <title>Mis Datos</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet" type="text/css">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    </head>

    <body>
        {{>header}}
            <div class="main-content">
                <h1>Tus datos</h1>
                <div class="main-content-body">
                    <div class="user-profile-container">
                        <label>Nombre(s)</label>
                        <span>{{currentUser.name}}</span>
                        <label>Apellido(s)</label>  
                        <span>{{currentUser.lastName}}</span>
                        <label>Número de cédula de ciudadania</label>
                        <span>C.C: {{currentUser.citizenCardId}}</span>
                        <label>E-mail</label>
                        <span>{{currentUser.email}}</span>
                        <label>Número de celular</label>
                        <span>{{currentUser.phoneNumber}}</span>
                        <label>Número de celular alternativo</label>
                        <span>{{currentUser.alternativePhoneNumber}}</span>
                        <label>Número de teléfono fijo (opcional)</label>
                    </div> 
                </div>
            </div>
        {{>footer}}
    </body>
    
</html>