<!DOCTYPE html>

<html>

    <head>
        <title>Mis Datos</title>
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400&display=swap" rel="stylesheet" type="text/css">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    </head>

    <body>
        {{>header}}
            <div class="main-content">
               <div>Nombre(s)</div>
               <span>{{currentUser.name}}</span>
               <div>Apellido(s)</div>
               <span>{{currentUser.lastName}}</span>
               <div>Número de identificación de ciudadania</div>
               <span>{{currentUser.citizenCardId}}</span>
               <div>E-mail</div>
               <span>{{currentUser.email}}</span>
               <div>Número de celular</div>
               <span>{{currentUser.phoneNumber}}</span>
               <div>Número de celular alternativo</div>
               <span>{{currentUser.alternativePhoneNumber}}</span>
            </div>
        {{>footer}}
    </body>
    
</html>